.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.input-field, .generation-button {
  height: 30px;
  width: 200px;
  padding: 5px;
  border-radius: 5px;
}

.generation-button {
  transition: background-color .5s ease;
}

.generation-button:hover {
  cursor: pointer;
  background-color: burlywood;
}